.bg {
    /* The image used */
    background-image: url("../assets/test.png");
  
    /* Full height */
    width: 100%;
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg h1 {
    text-align: center;
    color:white
}